.container-fluid .row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card .card-header {
    background: var(--primary-color);
}

.btn-icon {
    max-width: 20px;
    max-height: 20px;
    display: block;
}