.container-fluid .row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card .card-header {
    background: var(--primary-color);
}

.btn-icon {
    max-width: 100px;
    max-height: 20px;
    display: block;
    color:red
}

table thead th,
table thead td {
    vertical-align: middle !important;
}